<a href="https://colab.research.google.com/github/mks2607/Data_Scientist/blob/mks2607/Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_dividend = pd.read_csv('/content/Companies_ranked_by_Dividend_Yield.csv')
df_eaning = pd.read_csv('/content/Companies_ranked_by_Earnings.csv')
df_market = pd.read_csv('/content/Companies_ranked_by_Market_Cap.csv')
df_p_e_ratio = pd.read_csv('/content/Companies_ranked_by_P_E_ratio.csv')
df_revenue = pd.read_csv('/content/Companies_ranked_by_Revenue.csv')

In [9]:
df_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9912 entries, 0 to 9911
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         9912 non-null   int64
 1   Name         9912 non-null   object
 2   Symbol       9911 non-null   object
 3   revenue_ttm  9912 non-null   int64
 4   price (GBP)  9912 non-null   float64
 5   country      9910 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 464.8+ KB

In [10]:
df_p_e_ratio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9912 entries, 0 to 9911
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          9912 non-null   int64
 1   Name          9912 non-null   object
 2   Symbol        9911 non-null   object
 3   pe_ratio_ttm  9912 non-null   float64
 4   price (GBP)   9912 non-null   float64
 5   country       9910 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 464.8+ KB

In [11]:
df_dividend.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9912 entries, 0 to 9911
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                9912 non-null   int64
 1   Name                9912 non-null   object
 2   Symbol              9911 non-null   object
 3   dividend_yield_ttm  9912 non-null   float64
 4   price (GBP)         9912 non-null   float64
 5   country             9910 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 464.8+ KB

In [12]:
df_eaning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9912 entries, 0 to 9911
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          9912 non-null   int64
 1   Name          9912 non-null   object
 2   Symbol        9911 non-null   object
 3   earnings_ttm  9912 non-null   float64
 4   price (GBP)   9912 non-null   float64
 5   country       9910 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 464.8+ KB

In [13]:
df_market.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9912 entries, 0 to 9911
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         9912 non-null   int64
 1   Name         9912 non-null   object
 2   Symbol       9911 non-null   object
 3   marketcap    9912 non-null   float64
 4   price (GBP)  9912 non-null   float64
 5   country      9910 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 464.8+ KB

In [14]:
df_dividend

,Rank,Name,Symbol,dividend_yield_ttm,price (GBP),country
0,1,LianBio,LIAN,300940.0,0.243065,United States
1,2,Richter Gedeon,RIG2.F,150430.0,23.726825,Hungary
2,3,Delek Group,DLEKG.TA,117114.0,87.735884,Israel
3,4,LMP Automotive Holdings,LMPX,106250.0,0.121914,United States
4,5,MBIA,MBI,22346.4,2.727817,United States
...,...,...,...,...,...,...
9907,9908,Lite-On Technology,2301.TW,0.0,2.366853,Taiwan
9908,9909,Zensho Holdings,7550.T,0.0,42.447877,Japan
9909,9910,BKV Corporation,BKV,0.0,13.867596,United States
9910,9911,BioAge Labs,BIOA,0.0,16.679304,United States
9911,9912,Legacy Education,LGCY,0.0,3.466385,United States

In [15]:
df_market

,Rank,Name,Symbol,marketcap,price (GBP),country
0,1,Apple,AAPL,2.689903e+12,176.919492,United States
1,2,Microsoft,MSFT,2.427170e+12,326.537958,United States
2,3,NVIDIA,NVDA,2.259353e+12,92.105725,United States
3,4,Alphabet (Google),GOOG,1.549815e+12,126.458691,United States
4,5,Amazon,AMZN,1.506038e+12,143.492307,United States
...,...,...,...,...,...,...
9907,9908,Dubai Taxi Company,DTC.AE,0.000000e+00,0.000000,United Arab Emirates
9908,9909,Emirates Central Cooling Systems,EMPOWER.AE,0.000000e+00,0.000000,United Arab Emirates
9909,9910,Ajman Bank,AJMANBANK.AE,0.000000e+00,0.000000,United Arab Emirates
9910,9911,Al Ansari Financial Services,ALANSARI.AE,0.000000e+00,0.000000,United Arab Emirates
9911,9912,Watania International,WATANIA.AE,0.000000e+00,0.000000,United Arab Emirates

1. Объеденим таблицы
2. Удалим лишние столбцы
3. Заполнить значения NaN
4. Отсоритруем и изучим данные
5. Удалим данные которые нам не нужны
6. Потренеруем методы из Степика для строк и int
7. Сгруппируем таблицу по разным параментрам.
8. Построим графики по разным срезам для каждым данным
9. Построим график зависимости и влияния разных метрик дрг на друга.
10. Сохраним таблицу в excel