<a href="https://colab.research.google.com/github/mks2607/Data_Scientist/blob/mks2607/Online_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

data = pd.read_csv('/content/online_sales_dataset.csv') #Импорт данных

In [3]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00,1.71,37039.0,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00,41.25,19144.0,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00,29.11,50472.0,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00,76.68,96586.0,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,NaN,United Kingdom,1.501433,Bank Transfer,NaN,Electronics,In-store,Not Returned,FedEx,NaN,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49777,354083,SKU_1562,Blue Pen,25,2025-09-05 01:00,70.92,51445.0,Spain,0.200000,Credit Card,8.96,Electronics,Online,Returned,UPS,Berlin,Medium
49778,296698,SKU_1930,USB Cable,7,2025-09-05 02:00,51.74,28879.0,United States,0.230000,Bank Transfer,23.55,Electronics,Online,Not Returned,FedEx,Amsterdam,Low
49779,177622,SKU_1766,Office Chair,43,2025-09-05 03:00,85.25,21825.0,Portugal,0.200000,Bank Transfer,16.26,Furniture,In-store,Not Returned,FedEx,London,High
49780,701213,SKU_1602,Notebook,48,2025-09-05 04:00,39.64,43199.0,United Kingdom,0.310000,paypall,28.56,Apparel,Online,Not Returned,Royal Mail,London,Medium
49781,772215,SKU_1832,White Mug,30,2025-09-05 05:00,38.27,53328.0,France,0.100000,Credit Card,9.13,Stationery,Online,Not Returned,UPS,Rome,Low

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   CustomerID         44804 non-null  float64
 7   Country            49782 non-null  object
 8   Discount           49782 non-null  float64
 9   PaymentMethod      49782 non-null  object
 10  ShippingCost       47293 non-null  float64
 11  Category           49782 non-null  object
 12  SalesChannel       49782 non-null  object
 13  ReturnStatus       49782 non-null  object
 14  ShipmentProvider   49782 non-null  object
 15  WarehouseLocation  46297 non-null  object
 16  OrderPriority      49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB

In [5]:
data['WarehouseLocation'] = data['WarehouseLocation'].fillna('Other world')
data['ShippingCost'] = data['ShippingCost'].fillna(0)
data['CustomerID'] = data['CustomerID'].fillna(0)

In [6]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,221958,SKU_1964,White Mug,38,2020-01-01 00:00,1.71,37039.0,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium
1,771155,SKU_1241,White Mug,18,2020-01-01 01:00,41.25,19144.0,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium
2,231932,SKU_1501,Headphones,49,2020-01-01 02:00,29.11,50472.0,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High
3,465838,SKU_1760,Desk Lamp,14,2020-01-01 03:00,76.68,96586.0,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low
4,359178,SKU_1386,USB Cable,-30,2020-01-01 04:00,-68.11,0.0,United Kingdom,1.501433,Bank Transfer,0.00,Electronics,In-store,Not Returned,FedEx,Other world,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49777,354083,SKU_1562,Blue Pen,25,2025-09-05 01:00,70.92,51445.0,Spain,0.200000,Credit Card,8.96,Electronics,Online,Returned,UPS,Berlin,Medium
49778,296698,SKU_1930,USB Cable,7,2025-09-05 02:00,51.74,28879.0,United States,0.230000,Bank Transfer,23.55,Electronics,Online,Not Returned,FedEx,Amsterdam,Low
49779,177622,SKU_1766,Office Chair,43,2025-09-05 03:00,85.25,21825.0,Portugal,0.200000,Bank Transfer,16.26,Furniture,In-store,Not Returned,FedEx,London,High
49780,701213,SKU_1602,Notebook,48,2025-09-05 04:00,39.64,43199.0,United Kingdom,0.310000,paypall,28.56,Apparel,Online,Not Returned,Royal Mail,London,Medium
49781,772215,SKU_1832,White Mug,30,2025-09-05 05:00,38.27,53328.0,France,0.100000,Credit Card,9.13,Stationery,Online,Not Returned,UPS,Rome,Low

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   CustomerID         49782 non-null  float64
 7   Country            49782 non-null  object
 8   Discount           49782 non-null  float64
 9   PaymentMethod      49782 non-null  object
 10  ShippingCost       49782 non-null  float64
 11  Category           49782 non-null  object
 12  SalesChannel       49782 non-null  object
 13  ReturnStatus       49782 non-null  object
 14  ShipmentProvider   49782 non-null  object
 15  WarehouseLocation  49782 non-null  object
 16  OrderPriority      49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB

In [8]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

data['InvoiceDate'] = data['InvoiceDate'].dt.strftime('%Y-%m-%d')

In [9]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,221958,SKU_1964,White Mug,38,2020-01-01,1.71,37039.0,Australia,0.470000,Bank Transfer,10.79,Apparel,In-store,Not Returned,UPS,London,Medium
1,771155,SKU_1241,White Mug,18,2020-01-01,41.25,19144.0,Spain,0.190000,paypall,9.51,Electronics,Online,Not Returned,UPS,Rome,Medium
2,231932,SKU_1501,Headphones,49,2020-01-01,29.11,50472.0,Germany,0.350000,Bank Transfer,23.03,Electronics,Online,Returned,UPS,Berlin,High
3,465838,SKU_1760,Desk Lamp,14,2020-01-01,76.68,96586.0,Netherlands,0.140000,paypall,11.08,Accessories,Online,Not Returned,Royal Mail,Rome,Low
4,359178,SKU_1386,USB Cable,-30,2020-01-01,-68.11,0.0,United Kingdom,1.501433,Bank Transfer,0.00,Electronics,In-store,Not Returned,FedEx,Other world,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49777,354083,SKU_1562,Blue Pen,25,2025-09-05,70.92,51445.0,Spain,0.200000,Credit Card,8.96,Electronics,Online,Returned,UPS,Berlin,Medium
49778,296698,SKU_1930,USB Cable,7,2025-09-05,51.74,28879.0,United States,0.230000,Bank Transfer,23.55,Electronics,Online,Not Returned,FedEx,Amsterdam,Low
49779,177622,SKU_1766,Office Chair,43,2025-09-05,85.25,21825.0,Portugal,0.200000,Bank Transfer,16.26,Furniture,In-store,Not Returned,FedEx,London,High
49780,701213,SKU_1602,Notebook,48,2025-09-05,39.64,43199.0,United Kingdom,0.310000,paypall,28.56,Apparel,Online,Not Returned,Royal Mail,London,Medium
49781,772215,SKU_1832,White Mug,30,2025-09-05,38.27,53328.0,France,0.100000,Credit Card,9.13,Stationery,Online,Not Returned,UPS,Rome,Low

In [10]:
data.groupby('InvoiceDate').sum('Discount')

,InvoiceNo,Quantity,UnitPrice,CustomerID,Discount,ShippingCost
InvoiceDate,,,,,,
2020-01-01,11148427,650,1215.87,1081165.0,7.081433,354.43
2020-01-02,11178753,588,1185.80,1301783.0,4.520000,434.42
2020-01-03,13019034,594,1083.56,1247226.0,5.470000,425.34
2020-01-04,13683589,579,1120.17,1425128.0,6.210000,422.54
2020-01-05,12483105,579,1046.13,1490713.0,4.790000,407.95
...,...,...,...,...,...,...
2025-09-01,15106457,610,1098.59,914368.0,8.955694,397.54
2025-09-02,13859817,567,960.25,1149979.0,7.530665,382.09
2025-09-03,11928964,392,857.66,1203594.0,6.409869,311.21
2025-09-04,11584754,447,1256.38,992856.0,6.970000,377.68
2025-09-05,2826284,196,370.01,283075.0,1.290000,107.84

In [11]:
data.groupby('InvoiceDate')['Discount'].sum('Discount')

InvoiceDate
2020-01-01    7.081433
2020-01-02    4.520000
2020-01-03    5.470000
2020-01-04    6.210000
2020-01-05    4.790000
                ...
2025-09-01    8.955694
2025-09-02    7.530665
2025-09-03    6.409869
2025-09-04    6.970000
2025-09-05    1.290000
Name: Discount, Length: 2075, dtype: float64

In [12]:
data.groupby('InvoiceDate').agg({'Discount':'sum', 'UnitPrice': 'max','ShippingCost': 'min'}).reset_index()

     InvoiceDate  Discount  UnitPrice  ShippingCost
0     2020-01-01  7.081433      98.19          0.00
1     2020-01-02  4.520000      99.31          6.14
2     2020-01-03  5.470000      99.17          6.60
3     2020-01-04  6.210000      94.77          5.92
4     2020-01-05  4.790000      88.14          6.64
...          ...       ...        ...           ...
2070  2025-09-01  8.955694      96.99          0.00
2071  2025-09-02  7.530665      98.11          0.00
2072  2025-09-03  6.409869      97.76          0.00
2073  2025-09-04  6.970000      95.02          0.00
2074  2025-09-05  1.290000      85.25          8.96

[2075 rows x 4 columns]

In [13]:
data.groupby(['Description','StockCode']).first().reset_index().head(3) #как бы группирует, но столбцы не суммирует и поэтому все значения остаются неизменными.

,Description,StockCode,InvoiceNo,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Discount,PaymentMethod,ShippingCost,Category,SalesChannel,ReturnStatus,ShipmentProvider,WarehouseLocation,OrderPriority
0,Backpack,SKU_1000,164820,21,2020-01-01,1.07,20566.0,Sweden,0.49,Bank Transfer,15.09,Accessories,Online,Not Returned,FedEx,London,Medium
1,Backpack,SKU_1001,721234,35,2022-06-24,78.85,58682.0,Spain,0.38,paypall,8.33,Electronics,In-store,Returned,Royal Mail,Amsterdam,High
2,Backpack,SKU_1002,580671,18,2020-01-12,63.78,17819.0,France,0.20,paypall,13.67,Apparel,Online,Not Returned,UPS,London,Low

In [14]:
data.groupby('PaymentMethod')['Discount'].sum()

PaymentMethod
Bank Transfer    4584.845052
Credit Card      4540.108148
paypall          4602.317209
Name: Discount, dtype: float64

In [15]:
data.groupby('PaymentMethod')['UnitPrice'].sum()

PaymentMethod
Bank Transfer    800815.87
Credit Card      781857.12
paypall          783856.84
Name: UnitPrice, dtype: float64

In [16]:
data.groupby('Category')['UnitPrice'].sum()

Category
Accessories    473426.29
Apparel        473449.00
Electronics    472474.24
Furniture      476878.53
Stationery     470301.77
Name: UnitPrice, dtype: float64

In [17]:
data.groupby('Category')['UnitPrice'].count()

Category
Accessories     9975
Apparel         9864
Electronics     9931
Furniture      10084
Stationery      9928
Name: UnitPrice, dtype: int64

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49782 entries, 0 to 49781
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   InvoiceNo          49782 non-null  int64
 1   StockCode          49782 non-null  object
 2   Description        49782 non-null  object
 3   Quantity           49782 non-null  int64
 4   InvoiceDate        49782 non-null  object
 5   UnitPrice          49782 non-null  float64
 6   CustomerID         49782 non-null  float64
 7   Country            49782 non-null  object
 8   Discount           49782 non-null  float64
 9   PaymentMethod      49782 non-null  object
 10  ShippingCost       49782 non-null  float64
 11  Category           49782 non-null  object
 12  SalesChannel       49782 non-null  object
 13  ReturnStatus       49782 non-null  object
 14  ShipmentProvider   49782 non-null  object
 15  WarehouseLocation  49782 non-null  object
 16  OrderPriority      49782 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB



*   Сделать 3 графика по сводным таблицам
*   Сделать 5 таблиц для дашборда data lens
1. Создать дашборд с этими таблицами в дата ленс