1.	Добавление Библиотек для анализа метрик.
a.	Pandas
b.	NumPy
c.	MatplotLib
d.	Seaborn
e.	Statmodels

In [1]:
import pandas as pd

In [2]:
data_shpi = pd.read_csv('hpi_period_year.csv')

In [3]:
data_shpi

,ШПИ,ФИО/Название отправителя,Дата и время приема,Тип,Способ доставки,Адрес нормализованный,Тип получателя,Получатель,Тариф
0,80545604206480,Булгакова Наталия Геннадьевна,2025-01-01 00:18:06,заказное,бумажное,"г Клин, Московская обл, ул Гайдара, д. 25, 141601",ЮЛ,ИФНС РОССИИ ПО Г. КЛИНУ МОСКОВСКОЙ ОБЛАСТИ,75.5
1,80545604206497,Даурбеков Хусен Баширович,2025-01-01 00:20:19,заказное,бумажное,"г Москва, Москва г, ул Кировоградская, д. 22, ...",ЮЛ,"ТСЖ ""КИРОВОГРАДСКАЯ, 22-2""",72.0
2,80545604206503,Амшуков Аслан Русланович,2025-01-01 00:25:01,заказное,электронное,"г Москва, Москва г, ул Вавилова, д. 19, 117312",ЮЛ,ПАО СБЕРБАНК,72.0
3,80545604206558,Булгакова Наталия Геннадьевна,2025-01-01 00:10:25,заказное,бумажное,"г Пермь, Пермский край, ул Ленина, д. 64, оф. ...",ЮЛ,"ООО ""УРАЛ ФИНАНС""",75.5
4,80545604206565,Гайфуллин Булат Накиевич,2025-01-01 00:40:42,заказное,электронное,"г Москва, Москва г, ул Шипиловская, д. 36, кор...",ФЛ,Веретенко Анастасия Юрьевна,72.0
...,...,...,...,...,...,...,...,...,...
564300,ec1d0177-8806-4aaa-a811-c839b45e0561,АНТОНОВ КОНСТАНТИН СЕРГЕЕВИЧ,2025-01-26 23:00:31,простое,бумажное,"г Мытищи, Московская обл, д Манюхино, д. 59, 1...",ФЛ,АБРАМОВА И А,31.0
564301,f5144226-68ce-4b56-afcc-94b563b780ca,Минивалиева Екатерина Викторовна,2025-01-26 23:02:48,простое,бумажное,"г Москва, Москва г, пер Серебрянический, д. 8,...",ЮЛ,"ООО ""НИРВАНА""",31.0
564302,fae9bc21-5e1c-41ce-8a2e-3c13bc6fab30,Уланов Антон Геннадьевич,2025-01-26 23:01:08,простое,бумажное,"г Липецк, Липецкая обл, ул им. Генерала Меркул...",ФЛ,ВЕРЕТИН АРТЕМ ИГОРЕВИЧ,31.0
564303,fc681972-b403-4f2e-9329-a4496a1a1567,Курилко Дмитрий Алексеевич,2025-01-26 23:55:43,простое,бумажное,"Московская обл, г Одинцово, п Барвиха, тер. Ба...",ФЛ,Хозяину хозяйке,31.0
564304,ff3b03e3-ae54-4ca3-bc1c-a229e1b06d51,Курилко Дмитрий Алексеевич,2025-01-26 23:55:42,простое,бумажное,"Московская обл, г Одинцово, п Барвиха, тер. Ба...",ФЛ,Хозяину хозяйке,31.0

In [4]:
data_shpi['Дата и время приема'] = pd.to_datetime(data_shpi['Дата и время приема'], format='mixed', errors='coerce') # переводим в формат to_datetime

In [5]:
data_shpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564305 entries, 0 to 564304
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ШПИ                       564305 non-null  object
 1   ФИО/Название отправителя  564305 non-null  object
 2   Дата и время приема       564305 non-null  datetime64[ns]
 3   Тип                       564305 non-null  object
 4   Способ доставки           564305 non-null  object
 5   Адрес нормализованный     564305 non-null  object
 6   Тип получателя            564305 non-null  object
 7   Получатель                564305 non-null  object
 8   Тариф                     564305 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 38.7+ MB

In [8]:
#data_shpi['номер недели'] = data_shpi['Дата и время приема'] # добавляю столбец номер недели
#data_shpi['месяц'] = data_shpi['Дата и время приема'] # добавляю столбец месяц
#data_shpi['номер недели'] = pd.to_datetime(data_shpi['номер недели']) # преобразую столбец номер недели в date time
#data_shpi['месяц'] = pd.to_datetime(data_shpi['месяц'])# преобразую столбец номер недели в date time
# как будто код выше лишний для создания столбцов хватит и трех строк код ниже - проверить несколько раз, и сделать рефакторинг

data_shpi['день недели'] = data_shpi['Дата и время приема'].dt.day_name() # добавляю столбец день недели
data_shpi['номер недели'] = data_shpi['Дата и время приема'].dt.isocalendar().week # получаем неделю из столбца дата приема
data_shpi['месяц'] = data_shpi['Дата и время приема'].dt.strftime('%B') # получаем месяц из столбца дата приема

In [10]:
data_shpi.tail(2)

,ШПИ,ФИО/Название отправителя,Дата и время приема,Тип,Способ доставки,Адрес нормализованный,Тип получателя,Получатель,Тариф,день недели,номер недели,месяц
564303,fc681972-b403-4f2e-9329-a4496a1a1567,Курилко Дмитрий Алексеевич,2025-01-26 23:55:43,простое,бумажное,"Московская обл, г Одинцово, п Барвиха, тер. Ба...",ФЛ,Хозяину хозяйке,31.0,Sunday,4,January
564304,ff3b03e3-ae54-4ca3-bc1c-a229e1b06d51,Курилко Дмитрий Алексеевич,2025-01-26 23:55:42,простое,бумажное,"Московская обл, г Одинцово, п Барвиха, тер. Ба...",ФЛ,Хозяину хозяйке,31.0,Sunday,4,January

In [ ]:
# тут список ШПИ не пустой - кажется что эта строчка кода и не нужна.
# top_year['ШПИ'] = top_year['ШПИ'].fillna(0)  # Заменяет NaN на 0

In [12]:
# Задаем порядок месяцев
mounth_order = ['January', 'July', 'September', 'October', 'August', 'February',
                'March', 'April', 'May', 'June', 'November', 'December']

# Задаем порядок категорий для столбца 'месяц'
data_shpi['день недели'] = pd.Categorical(data_shpi['месяц'], categories=mounth_order, ordered=True)

# Создаем сводную таблицу
top_oprav_year = pd.pivot_table(data_shpi, values='ШПИ', index='ФИО/Название отправителя', 
                                 columns='месяц', aggfunc='count', fill_value=0, observed=False).reset_index()

# Вычисляем итого
top_oprav_year['Итого'] = top_oprav_year.loc[:, top_oprav_year.columns != 'ФИО/Название отправителя'].sum(axis=1)

# Сводная таблица для подсчета по 'Способ доставки'
delivery_counts = data_shpi.groupby(['ФИО/Название отправителя', 'Способ доставки']).size().unstack(fill_value=0)

# Объединяем с основным DataFrame
top_oprav_year = top_oprav_year.merge(delivery_counts, on='ФИО/Название отправителя', how='left')

# Вычисляем доли
top_oprav_year['Доля электронное'] = top_oprav_year['электронное'] / top_oprav_year['Итого']
top_oprav_year['Доля бумажное'] = top_oprav_year['бумажное'] / top_oprav_year['Итого']

# Сортируем по 'Итого'
top_oprav_sort = top_oprav_year.sort_values(by='Итого', ascending=False)

# Выводим результат
top_oprav_sort.head(10)

,ФИО/Название отправителя,January,Итого,бумажное,электронное,Доля электронное,Доля бумажное
14556,ЗАМАНОВ АЛЕКСАНДР МИХАЙЛОВИЧ,6546,6546,6062,484,0.073938,0.926062
45570,ЦЕНТР ПОМОЩИ ДОЛЖНИКАМ,4415,4415,3553,862,0.195243,0.804757
20365,Комаренко Сергей Владимирович,3976,3976,3302,674,0.169517,0.830483
21425,Котова Елена Сергеевна,2578,2578,2393,185,0.071761,0.928239
1882,Анпилов Максим Александрович,2233,2233,1931,302,0.135244,0.864756
38125,Селина Светлана Владимировна,1718,1718,1461,257,0.149593,0.850407
42314,Толкачева Ирина Геннадьевна,1569,1569,1217,352,0.224347,0.775653
44816,Халиков Эльдар Михайлович,1509,1509,1323,186,0.123260,0.876740
43747,ФОРТУНА ТЕХНОЛОДЖИС,1501,1501,1500,1,0.000666,0.999334
10132,Гордеев Дмитрий Анатольевич,1473,1473,1276,197,0.133741,0.866259

In [15]:
top_oprav_sort.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50284 entries, 14556 to 25142
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ФИО/Название отправителя  50284 non-null  object
 1   January                   50284 non-null  int64
 2   Итого                     50284 non-null  int64
 3   бумажное                  50284 non-null  int64
 4   электронное               50284 non-null  int64
 5   Доля электронное          50284 non-null  float64
 6   Доля бумажное             50284 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 3.1+ MB

In [13]:
data_shpi['день недели'] = pd.Categorical(data_shpi['месяц'], categories=mounth_order, ordered=True)

# Создаем сводную таблицу
top_poluch_year = pd.pivot_table(data_shpi, values='ШПИ', index='Получатель', 
                                 columns='месяц', aggfunc='count', fill_value=0, observed=False).reset_index()

# Вычисляем итого
top_poluch_year['Итого'] = top_poluch_year.loc[:, top_poluch_year.columns != 'Получатель'].sum(axis=1)

# Сводная таблица для подсчета по 'Способ доставки'
delivery_counts = data_shpi.groupby(['Получатель', 'Способ доставки']).size().unstack(fill_value=0)

# Объединяем с основным DataFrame
top_poluch_year = top_poluch_year.merge(delivery_counts, on='Получатель', how='left')

# Вычисляем доли
top_poluch_year['Доля электронное'] = top_poluch_year['электронное'] / top_poluch_year['Итого']
top_poluch_year['Доля бумажное'] = top_poluch_year['бумажное'] / top_poluch_year['Итого']

# Сортируем по 'Итого'
top_poluch_sort = top_poluch_year.sort_values(by='Итого', ascending=False)

# Выводим результат
top_poluch_sort.head(10)

,Получатель,January,Итого,бумажное,электронное,Доля электронное,Доля бумажное
161144,ПАО СБЕРБАНК,26335,26335,356,25979,0.986482,0.013518
160464,"ПАО ""СОВКОМБАНК""",10051,10051,200,9851,0.980101,0.019899
5662,"АО ""ТБАНК""",9708,9708,9708,0,0.000000,1.000000
3596,"АО ""АЛЬФА-БАНК""",8733,8733,547,8186,0.937364,0.062636
16255,БАНК ВТБ (ПАО),7035,7035,7035,0,0.000000,1.000000
160351,"ПАО ""МТС-БАНК""",4194,4194,22,4172,0.994754,0.005246
3750,"АО ""БАНК РУССКИЙ СТАНДАРТ""",3482,3482,3482,0,0.000000,1.000000
5099,"АО ""ПОЧТА БАНК""",3200,3200,3200,0,0.000000,1.000000
173284,РОСПАТЕНТ,2707,2707,2707,0,0.000000,1.000000
148620,"ООО МКК ""РУСИНТЕРФИНАНС""",2622,2622,2622,0,0.000000,1.000000

In [14]:
top_poluch_sort.info()

<class 'pandas.core.frame.DataFrame'>
Index: 233513 entries, 161144 to 233512
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Получатель        233513 non-null  object
 1   January           233513 non-null  int64
 2   Итого             233513 non-null  int64
 3   бумажное          233513 non-null  int64
 4   электронное       233513 non-null  int64
 5   Доля электронное  233513 non-null  float64
 6   Доля бумажное     233513 non-null  float64
dtypes: float64(2), int64(4), object(1)
memory usage: 14.3+ MB

In [16]:
# Запись данных в файл Excel - при необходимости, для того что бы загрузить в Data Lens
with pd.ExcelWriter('top_otpravok_2025.xlsx') as writer:
    top_poluch_sort[:10000].to_excel(writer, sheet_name='ТОП получателей', index=False)  # записываем ТОП 10_000 получателей
    top_oprav_sort[:10000].to_excel(writer, sheet_name='ТОП отправителей', index=False)    # записываем ТОП 10_000 отправителей

print("Данные успешно сохранены в файл top_otpravok_2025.xlsx на разных листах.")

Данные успешно сохранены в файл top_otpravok_2025.xlsx на разных листах.